.class_xszy {
padding: 5px;
}
.class_xszy li {
border: #b2b2b2 1px dotted;
padding: 0 15px 0 15px;
font-family: Î¢ÈíÑÅºÚ;

}

.class_xszy li .con .num_all {
font-size: 16px;
padding-left: 45px;
}

.xszy_li .con p {
color: #959595;
line-height: 280%;
color: #959595;
}

.kyxbj_li .con p {
color: #959595;
line-height: 280%;
color: #000033;
}