body {
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial, helvetica, sans-serif, ו;
	color: #000;
	background-color: #fff;
	font-size: 12px;
	text-align: center;
}

td {
	font-size: 12px;
}

th {
	font-size: 12px;
}

strong,b {
	font-weight: bold;
}

img {
	border: 0px;
}

#login {
	background: url(../images/login_bg.gif) transparent no-repeat;
	width: 552px;
	height: 317px;
	margin-top: 100px;
}

ul {
	list-style: none;
}

li {
	list-style: none;
	height: 30px;
}

.denglu {
	width: 250px;
	color: #fff;
	line-height: 80px;
	text-align: right;
	margin: 140px 20px 20px 200px
}

.textbox {
	border-color: #405E9A;
	padding: 2px;
	height: 13px;
	border-width: 1px;
}

.errors {
	width: 300px;
	position: absolute;
	color: #ffffff;
	top: 65%;
	left: 50%;
	text-align: left;
	font-weight: bold;
}

.but_dl {
	background: url(../images/dl.gif) transparent no-repeat;
	cursor: hand;
	width: 69px;
	height: 20px;
	float: right;
	margin-right: 5px
}

.but_gb {
	background: url(../images/gb.gif) transparent no-repeat;
	cursor: hand;
	width: 69px;
	height: 20px;
	float: right;
}