<?xml version="1.0" encoding="gb2312"?>
<configuration>
    <!-- JNDI -->
    <webservice>
        <endPointUri>http://10.128.32.4/zjdxgc/service.asmx?wsdl</endPointUri>
    </webservice>
    <bjlhWebService>
        <url>http://10.11.5.93/buudp/services/dataService?wsdl</url>
        <user>xgsj</user>
        <pwd>00000000</pwd>
    </bjlhWebService>

    <!-- 以下配置是从web.xml文件中搬过来的。 -->
    <systemConfig>
        <!-- 南通高师 -->
        <config>
            <key>valuser</key>
            <value>valuser</value>
        </config>
        <config>
            <key>wsUrl</key>
            <value>http://192.168.101.37:8081/uia/services/AuthenticationInterface?wsdl</value>
        </config>
        <config>
            <key>zfcaWsUrl</key>
            <value>http://xgxt.snnu.edu.cn:8000/zfwebservice/caService?wsdl</value>
        </config>
        <!-- 南通高师结束 -->
        <config>
            <key>XnmzWebserviceUri</key>
            <value>http://10.128.32.99/zjdxgc_new/Service.asmx?wsdl</value>
        </config>

        <config>
            <key>shcbysjxjdm</key>
            <value>00001,00002,00003,00004</value>
        </config>

        <config>
            <key>xmlgWebserviceUri</key>
            <value>
                http://127.0.0.1/SinoSoftBiztalkStudentIn/SinoSoftBiztalkStudentIn_orc_StudentIn_Port_StudentIn.asmx
            </value>
        </config>

        <!-- 浙江商业统一身份认证验证URL -->
        <config>
            <key>zjsyWebendPointUri</key>
            <value>http://sso.zjvcc.edu.cn/Verify.aspx</value>
        </config>
        <!-- 浙江商业统一身份认证验证标识，true为统一身份验证，false为学工验证 -->
        <config>
            <key>zjsySSOFlag</key>
            <value>false</value>
        </config>

        <!-- 浙江大学统一身份认证验证URL -->
        <config>
            <key>zjdxWebendPointUri</key>
            <value>http://zuinfo.zju.edu.cn:8080/AMWebService/Session</value>
        </config>
        <!-- 浙江大学统一身份认证验证标识，true为统一身份验证，false为学工验证 -->
        <config>
            <key>zjdxSSOFlag</key>
            <value>false</value>
        </config>
        <config>
            <key>appUid</key>
            <value>publictest</value>
        </config>
        <config>
            <key>appPwd</key>
            <value>zjuinfo</value>
        </config>

        <!-- 教务学生课表查询地址 -->
        <config>
            <key>xskbUrl</key>
            <value>http://10.71.32.151/zjdxgc_new/tjkbcx.aspx</value>
        </config>

        <config>
            <key>njgzUrl</key>
            <value>http://172.16.8.18/uids/services/UserService?wsdl</value>
        </config>

        <!-- 教务班级课表查询地址 -->
        <config>
            <key>bjkbUrl</key>
            <value>http://10.71.32.151/zjdxgc_new/jstjkbcx.aspx</value>
        </config>

        <!-- 教务教师课表查询地址 -->
        <config>
            <key>jskbUrl</key>
            <value>http://10.71.32.151/zjdxgc_new/jstjkbcx.aspx</value>
        </config>
        <!-- 浙江传媒学生服务网webService服务器地址 -->
        <config>
            <key>zjcmWebUrl</key>
            <value>http://ls.zjicm.edu.cn/WebService/ws_xgxt.asmx?WSDL</value>
        </config>

        <config>
            <key>fdyCkSbj</key>
            <value>true</value>
        </config>
        <config>
            <key>bzrCkSbj</key>
            <value>true</value>
        </config>
        <!-- 是否需要在公寓住宿处增加新生同步数据的功能 -->
        <config>
            <key>gysxKz</key>
            <value>false</value>
        </config>

        <config>
            <key>sjxyUserDz</key>
            <value>edu.yale.its.tp.cas.client.filter.user</value>
        </config>

        <!--学生资助是否使用通用(N32)的资助标志-->
        <config>
            <key>xszztyFlag</key>
            <value>false</value>
        </config>
        <!--猜猜看是不是新学校捏？old：老；new：新-->
        <config>
            <key>edition</key>
            <value>new</value>
        </config>
        <!-- 新闻列表 old:老的;new:新的 -->
        <config>
            <key>newsQuery</key>
            <value>new</value>
        </config>
        <!--session超时页面跳转-->
        <config>
            <key>sessionForward</key>
            <value>0</value>
        </config>
        <!--代码维护是否增加部门范围限制，值为true或false-->
        <config>
            <key>codeByDept</key>
            <value>false</value>
        </config>
        <!--是否开启webService远程同步值为true或false,如果是和正方教务软件做接口，则为zfjw-->
        <config>
            <key>webSerTb</key>
            <value>zfjw</value>
        </config>
        <!-- 和教务做接口时的webService服务器地址-->
        <config>
            <key>zfJwWebService</key>
            <value>http://10.71.32.140/zjdxgc_kf/Service.asmx?wsdl</value>
        </config>
        <!-- 和高校通做接口时的webService服务器地址-->
        <config>
            <key>gxtWebService</key>
            <value>http://221.131.216.59/sms/services/GaoxtSMSInterfaceForSchools</value>
        </config>
        <!-- zfoa地址-->
        <config>
            <key>zfoaAddress</key>
            <value>http://portal.zfsoft.com:8990/zfoa/zfssologin</value>
        </config>
        <!-- 统一身份验证不通过时的返回页面-->
        <config>
            <key>dbCenterreturnUri</key>
            <value>/login.jsp</value>
        </config>


        <!-- 极光移动校园推送  -->
        <config>
            <key>timeToLive</key>
            <value>1800</value>
        </config>
        <config>
            <key>tsdxlx</key>
            <value>ALIAS</value>
        </config>
        <config>
            <key>tsfs</key>
            <value>1</value>
        </config>
        <config>
            <key>tspt</key>
            <value>ALL</value>
        </config>
        <config>
            <key>appType</key>
            <value>YDXY</value>
        </config>
        <config>
            <key>PushEncryptWord</key>
            <value>jLAwzgEPwVhnneX6mCYkhQ==</value>
        </config>
        <config>
            <key>isOpen</key>
            <value>0</value>
        </config>
        <config>
            <key>sys_type</key>
            <value>001</value>
        </config>
        <config>
            <key>msg_type</key>
            <value>1</value>
        </config>
        <config>
            <key>func_type</key>
            <value>1</value>
        </config>
        <config>
            <key>login_flg</key>
            <value>1</value>
        </config>
        <config>
            <key>endpoint</key>
            <value>http://10.71.33.72:8088/zftal-mobile/service/IWSPushService</value>
        </config>
        <config>
            <key>xtbm</key>
            <value>xg</value>
        </config>
        <config>
            <key>znxdz</key>
            <value>http://localhost/ydxg/ydxg_sso.do?method=sso&amp;procode=004&amp;type=1&amp;choice=32</value>
        </config>
        <config>
            <key>dbdz</key>
            <value>http://localhost/ydxg/ydxg_sso.do?method=sso&amp;procode=004&amp;type=1&amp;choice=31</value>
        </config>
        <!--mail配置start-->
        <config>
            <key>mailHost</key>
            <value>smtp.163.com</value>
        </config>
        <config>
            <key>mailTransportProtocol</key>
            <value>SMTP</value>
        </config>
        <config>
            <key>mailPort</key>
            <value>25</value>
        </config>
        <!--发送邮件账户-->
        <config>
            <key>mailUser</key>
            <value>m13175032756@163.com</value>
        </config>
        <!--发送邮件账户名-->
        <config>
            <key>mailUserName</key>
            <value>万晨</value>
        </config>
        <!--授权码-->
        <config>
            <key>mailPasword</key>
            <value>wc199311202518</value>
        </config>
        <!--mail配置end-->
        <!--短信配置start-->
        <config>
            <!--短信接口地址-->
            <key>smsurl</key>
            <value>http://apis.baidu.com/kingtto_media/106sms/106sms</value>
        </config>
        <config>
            <!--SMS服务商提供的appid-->
            <key>apikey</key>
            <value>xxxxx</value>
        </config>
        <config>
            <!--SMS服务商提供的appid对应的password-->
            <key>password</key>
            <value>xxxxx</value>
        </config>
        <config>
            <!--接口供应商客户端名称-->
            <key>smsProvider</key>
            <value>xxx</value>
        </config>
        <config>
            <!--短信类型1:普通短信 2:长短信(超过64字符) -->
            <key>msgtype</key>
            <value>1</value>
        </config>
        <config>
            <!--调用SMS接口的来源，即请求方标记-->
            <key>source</key>
            <value>xxxxx</value>
        </config>
        <!--短信配置end-->
        <!--桂林理工单点start-->
        <config>
            <key>gllgddyzUrl</key>
            <value>11111</value>
        </config>
        <config>
            <key>lockCode</key>
            <value>xxxx</value>
        </config>
        <!--桂林理工单点end-->
    </systemConfig>

</configuration>
