body {
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial, helvetica, sans-serif, ו;
	color: #000;
	filter: progid : DXImageTransform . Microsoft .
		Gradient(GradientType = 0, StartColorStr = #fffffff, EndColorStr =
		#CDE3F9);
	font-size: 12px;
	text-align: center;
	height: 100%
}

td {
	font-size: 12px;
}

th {
	font-size: 12px;
}

strong,b {
	font-weight: bold;
}

img {
	border: 0;
}

.login {
	background: url(../images/login_bg.gif) transparent no-repeat;
	width: 580px;
	height: 351px;
	margin-top: 130px;
}

ul {
	list-style: none;
}

.denglu {
	width: 250px;
	position: absolute;
	color: #fff;
	top: 44%;
	left: 44%;
	line-height: 80px;
}

.textbox {
	border-color: #4471AF;
	padding: 2px;
	height: 13px;
	border-width: 1px;
}

.login_dl {
	background: url(../images/dl.gif) no-repeat;
	height: 20px;
	width: 69px;
	float: left;
	margin-left: 30px;
	cursor: hand
}

.login_gb {
	background: url(../images/gb.gif) no-repeat;
	height: 20px;
	width: 69px;
	float: left;
	margin-left: 5px;
	cursor: hand
}